<p>Yambe works!</p>

<h1> {{ authService.isLogedIn }} </h1>

<div>
  <hr>
  <button class="button" (click)="authService.signOut()">Sign Out</button>
</div>

<form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" #login>
  
  <div class="form-group">
    <label for="displayName">Name</label>
    <input id="displayName" type="text" formControlName="displayName">
  </div>

  <button class="button" type="submit">Submit</button>

</form>

<div class="brand-button primary" (click)="startGame()">Start a game</div>
<div class="brand-button primary">Join a game</div>